<!doctype html>
<html>
<head>
  <meta charset="utf-t" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>AURA Game Client</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
</head>
<body>
  <div class="game-hud">
    <div class="hud-item">Health: <b id="health">100</b></div>
    <div class="hud-item">Enemies: <b id="enemies">0</b></div>
    <div class="hud-item">Score: <b id="score">0</b></div>
  </div>
  <canvas id="cv"></canvas>
  <script src="/static/js/game.js"></script>
</body>
</html>